doctype html
html
  head
    link(
      rel="stylesheet"
      type = "text/css"
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Sans+Pro:400,700"
    )

    link(
      rel="stylesheet"
      type="text/css"
      href="/main.css"
    )

    meta(
      name="viewport"
      content="width=device-width, initial-scale=1"
    )
    
  body
    div(id="App")
    script(
      src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"
    )
    script(src="/bundle.js")
